<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <form target="_blank" method="POST" action="/">
    <label for="firstName">First Name <input type="text" name="firstName"></label>

    <br>
    <label for="lastName">Last Name <input type="text" name="lastName"></label>
    <br>
    <label for="email">Email <input type="text" name="email"></label>
    <br>
    <input type="submit">

  </form>
</body>

</html>